<footer>
  <ul>
    <li><a target="blank" href="/about/#aboutUs">关于我们</a></li>
    <li><a target="blank" href="/about/#business">商务合作</a></li>
    <li><a target="blank" href="/about/#advice">意见反馈</a></li>
    <li><a target="blank" href="/about/#joinUs">加入我们</a></li>
  </ul>
  <p>Copyright © 2015 yo-ton.com All Rights Reserved</p>
</footer>
<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/ajax.js"></script>
</body>
</html>