<section class="person-friends hide">
	<ul id="personFriendBox" class="clearfix">
		<!-- <li>
			<a href="#">
				<div class="person-friend">
					<div class="friend-header">
						<img src="images/header.jpg" alt="">
					</div>
					<div class="friend-info">
						<p class="friend-name"><a href="#">念树</a></p>
						<p class="friend-school"><a href="#">杭州电子科技大学</a></p>
						<p class="address">浙江 杭州</p>
					</div>
				</div>
			</a>
		</li> -->
	</ul>
	<div data-id="<%- person._id%>" data-p="1" id="loadFriendBtn" class='loadBtn'>点击加载</div>
</section>