
		<section class="person-index">
			<div class="person-index-nav">
				<span><a class='on' href="">正在学习</a></span>
				<span><a id="delete-course" class="" href="">删除课程</a></span>
			</div>
			<ul id="personIndexBox" class='clearfix'>

			</ul>
			<div data-id="<%- person._id%>" data-p="1" id="loadPersonBtn" class='loadBtn'>点击加载</div>
		</section>

