<section id="classmatesBox" class="classmates-box show">
	<ul id="classmatesList" class='classmates-list'>
	</ul>
	<div data-id="<%- course._id%>" data-p='1' id="loadBtn1" class="loadBtn">点击继续加载</div>
</section>

