<section class="setting-password">
	<h3>帐号密码修改</h3>
	<form action="/settingpassword/<%- person._id%>" method='POST' class='setting-form'>
		<div class="setting-password">
			<label for="setting-oldpsw">旧密码</label>
			<div>
				<input id='setting-oldpsw' type="password" name="oldpsw" value=''>
			</div>
		</div>
		<div class="setting-password">
			<label for="setting-newpsw">新密码</label>
			<div>
				<input id='setting-newpsw' type="password" name="newpsw" value=''>
			</div>
		</div>
		<div class="setting-password">
			<label for="setting-newpsw">确认新密码</label>
			<div>
				<input id='setting-newpsw' type="password" name="newpsw2" value=''>
			</div>
		</div>
		<input class="setting-btn" type="submit" value="保存修改">
	</form>

</section>